
.list {
	position: relative;
	overflow: hidden; /* ulでリスト全体を右に50%移動している分幅が広がりスクロールバーが表示されるのを防ぐ */
}
 
.list ul {
	position: relative;
	left: 50%; /* ulを右に50%移動 */
	float: left;
	margin-left: -5px;/* liのmarginの半分をネガティブマージン（しないと右にずれる） */
}
 
.list ul li {
	position: relative;
	left: -50%; /* 左に50%移動 */
	float: left;
	margin-left: 10px;
}